
		body {
		Color: white;
		}
		body {
		background-image: url(https://cdn.pixabay.com/photo/2018/03/02/19/46/rose-petals-3194062__340.jpg);
		background-size: 100%;
		background-color: black;
		position: absolute;
		left: 30%;
		border-radius: 13px;
		}
		
		footer {
		border-style: inset;
	border: 3px solid black;
	padding: 13px;
	margin: 11px;
	border-radius:  12px;
	border-bottom: 3px solid rgba(153, 0, 51, .9);
	width: 30%;
	  font-family: "Copperplate", Fantasy, Monospace;
		background-color: pink;
		text-align: center;
		font-size: 20px;
		color: black;
		


		}
		
		
		h1 {
		background-color: Pink;
		color: black;
		text-align: center;
		}
		
		ul {
		color: pink;
		}
		ol {
		color: pink;
		}
		
		strong {
		color: maroon;
		}
		
		em {
		color: pink;
		}
		
		h2 {
		color: white;
		}

	
		main {
		background-color: rgba(153, 0, 51, .9);
		font-size: 2vw;

		
		
		}
	
		a {
		color: pink;
		}

	
h1 {
  font-family: "Copperplate", Fantasy, Monospace;
}
	
body {
	 font-family: "Lucida Console", "Courier New", monospace;
}

strong {
font-family: "Copperplate", Fantasy, Monospace;
}
em {
font-family: "Copperplate", Fantasy, Monospace;
}

 h1 {
	width: 50%;
	height:40px;
	margin: 0 auto;
	border-style: inset;
	border: 3px solid black;
	padding: 13px;
	margin: 11px;
	border-radius:  20px;
	border-bottom: 3px solid rgba(153, 0, 51, .9);
}
 body {
	width: 40%;
	height:40px;
	margin: 0 auto;
	overflow: scroll;
	

}
h2 {
border-style: inset;
border: 2.4px solid pink;
padding: 8px;
margin: 6px;
width: 20%;
font-size: 17px;
border-radius: 13px;
}



img {
border-style: outset;
border: 2px solid pink;
padding: 7px;
border-radius:  20px;
max-width: 100%;
height: auto;
 Height:200px; /* too narrow */
	overflow: hidden;


}

main {
	font-size: .9rem;
font-size: 1.2vw;   
}
	
label {
font-family: "Copperplate", Fantasy, Monospace;
color: pink;
}

legend {
font-family: "Copperplate", Fantasy, Monospace;
color: black;
}

button {
  background-color: maroon;
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  font-size: 16px;
font-family: "Lucida Console", "Courier New", monospace;
color: white;
}
	